body {
    background-color:white;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

#carousel{
width: 250px;
overflow: hidden;
border: 1px solid black;
display: flex;
flex-direction: row;
align-content: center;
margin-left: 110px;
}

img{
    width: 250px;
    height: 350px;
 }

button{
  padding: 20px;
  border: none;
  background: #37f;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 23%;
  cursor: pointer;

}

.next{
  border-radius: 0px 10px 10px 0px;
  margin-left: 370px;
}

.prev{
  border-radius: 10px 0px 0px 10px;
  margin-left: 2px;

}

/* Slider */

#slider{
width: 700px;
height: 400px;
border: 1px solid black;
/* background: white; */

-webkit-transition: background 0.7s;
-moz-transition: background 0.7s;
transition: background 0.7s;
}


.next_btn{
  border-radius: 0px 10px 10px 0px;
  margin-left: 370px;
  top: 700px;
}

.prev_btn{
  border-radius: 10px 0px 0px 10px;
  margin-left: 47px;
  top: 700px;
}